{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  {{ if eq .Type "blog" }}
    {{ i18n "published" }}:
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
    </time>
  {{ end }}
  {{ if eq .Type "sandbox" }}
    {{ i18n "modified" }}:
    <time datetime='{{ .Lastmod | dateFormat "2006-01-02 15:04" }}'>
      {{ .Lastmod | dateFormat "2006-01-02 15:04" }}
    </time>
    (<a class="muted-link" href="https://github.com/themaxdavitt/website/commits/main/content/{{ .File.Path }}">{{ i18n "history" }}</a>)
  {{ end }}
</p>
{{ end }}
<content>
  {{ .Content }}
</content>
{{ if eq .Type "blog" }}
<hr>
{{ end }}
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags muted-link" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>
{{ if not .Params.hideReply }}
{{ with .Site.Params.author.email }}
  <p>
    <a class="muted-link" href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
      {{ i18n "email-reply" }} ↪
    </a>
  </p>
{{ end }}
{{ end }}
{{ end }}
