:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

:focus {
  outline-style: solid;
  outline-color: var(--base02);
}

body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--base05);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--base06);
}

.title {
  text-decoration: none;
  border: 0;
}
.title h1 {
  font-size: 24px;
  margin: 19.92px 0 19.92px 0;
}

.title span {
  font-weight: 400;
}

nav a {
  margin-right: 10px;
}

textarea, input[type="text"] {
  background-color: var(--base01);
  width: 100%;
  font-size: 16px;
  border: none;
  color: var(--base05);
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: var(--base02);
  padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
}

pre code {
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 14px;
  overflow-x: auto;
  text-wrap: nowrap;
}

blockquote {
  border-left: 1px solid var(--base02);
  color: var(--base03);
  padding-left: 20px;
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--base04);
  margin: 1em 0;
  padding: 0;
}

footer {
  padding: 25px;
  text-align: center;
}

/* blog posts */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  margin-bottom: 10px;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

a:visited, a.footnote-ref, a.footnote-backref, header a {
  color: var(--base04);
}

a.footnote-ref::before {
  content: '[';
}

a.footnote-ref::after {
  content: ']';
}

content:has(.footnotes) + hr {
  display: none;
}

a.blog-tags {
  line-height: 2;
  margin-right: 12px;
}

h3.blog-filter {
  margin-bottom: 0;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.7;
}

p.byline {
  font-style: italic;
}

/* "Skip to main content" link */
.skip-link {
  position: absolute;
  transform: translateY(-600%);
  background-color: var(--base00);
  padding: 6px;
}

.skip-link:focus {
  transform: translateY(0%);
}

figure {
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

figcaption > p {
  margin-block-start: 0px;
  text-align: center;
  font-style: italic;
  color: var(--base03);
}

/* heading links can just float nearby */
.heading-link {
    float: right;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

/* hide heading links unless hovered over */
@media (pointer: fine) {
    .heading-link {
        visibility: hidden;
    }

    h1:hover .heading-link,
    h2:hover .heading-link,
    h3:hover .heading-link,
    h4:hover .heading-link,
    h5:hover .heading-link,
    h6:hover .heading-link {
        visibility: visible;
    }
}

/* Prevent flash of unstyled content */
/* TODO: add back after switching to more stable webhost */
/* html {
  visibility: visible !important;
  opacity: 1 !important;
} */
