{{ $path := .RelPermalink }}
{{ if .IsHome }}
  <a href="{{ "" | relURL }}"><b>Home</b></a>
{{ else }}
  <a href="{{ "" | relURL }}">Home</a>
{{ end }}

{{ range .Site.Menus.main }}
  {{ if hasPrefix $path .Page.Path }}
    <a href="{{ .URL }}"><b>{{ .Name }}</b></a>
  {{ else }}
    <a href="{{ .URL }}">{{ .Name }}</a>
  {{ end }}
{{ end }}

<!-- Convert this page's translations into a dict -->
{{ $translations := dict }}
{{ range .Translations }}
  {{ $translations = merge $translations (dict .Language.Lang .) }}
{{ end }}

<!-- Create a link to every translation -->
{{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
  {{ with (index $translations .Lang) }}
    <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
  {{ else }}
    <!-- The complicated setup was necessary to make a grayed out link -->
    {{ if not .Params.hideUntranslated }}
      <a class="disabled" role="link" aria-disabled="true">{{ .LanguageName }}</a>
    {{ end }}
  {{ end }}
{{ end }}
